GEMINI_API_KEY=AQ.Ab8RN6I4iwP0gsWw5B8g0dcBVf5MtnIF7ageuxxxk4XOOmdzXA
SUPABASE_URL=https://deaphymimdaygeavhyek.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRlYXBoeW1pbWRheWdlYXZoeWVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY1MjAwNDQsImV4cCI6MjEwMjA5NjA0NH0.rbgVhuZCK1fZP7gKV5oO1OUvIT61ir23VhAYm8739SI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRlYXBoeW1pbWRheWdlYXZoeWVrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjUyMDA0NCwiZXhwIjoyMTAyMDk2MDQ0fQ.9oXc0EWXhI0ewy7vscqo2oUIIIMZ23AXlYx7ojW-HC8